.container {
  margin-top: 50px;
}

.form-container {
  background-color: #f0f0f0; /* Color de fondo gris claro */
  border-radius: 10px;
  padding: 20px;
}

.form-title {
  text-align: center;
}

.form-label {
  color: #0080FF; /* Azul */
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #0080FF; /* Azul */
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-button {
  background-color: #0080FF; /* Azul */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.form-button:hover {
  background-color: #005cb2; /* Azul más oscuro */
}

.form-button:disabled {
  background-color: #b3b3b3; /* Gris */
  cursor: not-allowed;
}
