<form>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
    <br>
    <app-webcam (imageCaptured)="handleCaptureImage($event)"></app-webcam>
    <br>
    <button type="submit" (click)="submit()">Register</button>
    <a routerLink="/login">Login</a>
</form>